[data-anime] {
    opacity: 0;
    transition: .3s;
}

[data-anime='esquerda'] {
    transform: translate3d(-50px, 0, 0);
}

[data-anime='direita'] {
    transform: translate3d(50px, 0, 0);
}

[data-anime='subindo'] {
    transform: translate3d(0, 50px, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px)
}

